<div class=" cards row justify-content-center">

    <div class="col-lg-6 col-sm-6 container-card">
     
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Escuela</h5>
                  <p class="card-text">Proyecto interactivo, donde se generan graficas en tiempo real de estudiantes, profesores y administradores</p>
                  
                </div>
                <img src="assets/proyectos/Escuela.jpeg" class="card-img-top" alt="...">
                <a class="btn ">Go somewhere</a>
            </div>
        
    </div>
    

    <div class="col-lg-6 col-sm-6 container-card">
        <div class="card" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 container-card">
        <div class="card" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 container-card">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 container-card">
        <div class="card" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 container-card">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    

</div>