<div id=contact>
  <div class="div-contacto">
    <h6 class="contacto">{{'FOOTER.TITLE' | translate}}</h6>
  </div>
  <div class="correo-paste">
    <div class="row">
      <a href="mailto:alejo17ariazpzn@gmail.com" class="text-center">{{
        correo
      }}</a>
    </div>
    <div class="paste">
      <i class="bi bi-clipboard clip" (click)="copiar()"></i>
    </div>
  </div>

  <div class="row ir-inicio">
    <a href="#nav">
      <h6 class="text-center" >
        {{'FOOTER.IR-INICIO' | translate}}<i class="bi bi-arrow-bar-up" href="#nav"></i>
      </h6>
    </a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p class="copy text-center">Copyright © Alejandro Arias • 2023</p>
    </div>
  </div>
</div>
