<div>
  <div class="div-contacto">
    <h6 class="contacto">🗣️Contacto</h6>
  </div>
  <div class="correo-paste">
    <div class="row">
      <a href="mailto:alejo17ariazpzn@gmail.com" class="text-center">{{
        correo
      }}</a>
    </div>
    <div class="paste">
      <i class="bi bi-clipboard clip" (click)="copiar()"></i>
    </div>
  </div>

  <div class="row ir-inicio">
    <h6 class="text-center">
      Volver al inicio <i class="bi bi-arrow-bar-up" (click)="irInicio()"></i>
    </h6>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p class="copy text-center">Copyright © Alejandro Arias • 2023</p>
    </div>
  </div>
</div>
