
@media screen and (min-width: 600px) {
    
    .tec-cur {
        font-size: 20px; 
    }

    i {
        font-size: 30px; /* Ajusta el tamaño de los íconos para pantallas más pequeñas */
        margin:0; /* Reduce el espacio entre los íconos */
    }
    
}

.tec-cur {
    font-size: 40px;
    color: rgb(213, 213, 213);
    
    margin: 0 50px;
}
.tec-work{
    font-size: 40px;
    color: rgb(213, 213, 213);
    margin-top: 200px;
    margin: 0 50px;
}

i{
    color: rgb(213, 213, 213, 0.6);
    font-size: 2rem;
    transition: ease-in-out 0.3s;
    margin: 0px 10px;
}

i.active {
    font-size: 50px;
    color: rgb(123, 74, 226);
    transform: scale(3);
}

@media screen and (max-width: 990px) {

    .div-portafolio{
        justify-content: center;
        align-items: center;
        display: flex;
       
    }
    .portafolio-item{
        margin-left: 0px;
    }
    
}

.portafolio-item{
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgb(123,74,226,0.1);
    border-radius: 10px;
    color: rgb(123,74,226);
    font-size: 30px;
    display: inline-block;

}