<div class="component row align-items-center d-flex flex-wrap" #inicio>

    <div class="col-12 col-md-4 text-center">
        <div class="saludo justify-content-start">
            <h6>👋🏻Hola!</h6>
        </div>
        <div class="justify-content-start">
            <h1>Soy Alejandro Arias</h1>
            <h6 class="subtitle">Ingeniero de sistemas - Gerente de proyectos</h6>
            <i class="redes bi bi-linkedin"></i>
            <i class="redes bi bi-github"></i>
            <i class="redes bi bi-youtube"></i>
        </div>
    </div>

    <div class="col-12 col-md-5 text-center">
        <img src="assets/imgs/image+icons.png" alt="Alejandro Arias + icons" class="img-fluid">
    </div>

    <div class="col-12 col-md-3 text-center">

        <h6 class="cv" (click)="descargarCV()">Descargar cv <i class="bi bi-arrow-bar-down"></i></h6>
        <button class="btn btn-conversemos" (click)="irWhatsApp()"><i class="bi bi-whatsapp"></i>  Vamos a conversar</button>

    </div>
</div>
