.sobremi{
    margin-top: 150px;
}

.cards {
    background-color: transparent;
    border: 2px solid rgba(213, 213, 213, 0.2);
    border-radius: 5px;
    max-width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1%;
    padding: 50px;
}

.bi{
    color: #7B4AE2;
    font-size: 30px;
}

.parrafos{
    font-weight: 200;
    font-size: 20px;
}

.details{
    margin-top: 0;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
}

.card-item {


    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 50px;
    
}


.spec{
    background-color: RGB(123,74, 226,0.1);
    margin: 80px 70px 20px 70px;
    padding: 10px;
    border-radius: 5px;
    color: #7B4AE2;
}

.spec-bold{
    font-weight: 800;
    font-size: 25px;
}