<div class="sobremi row justify-content-around">
        
    <div class="col-12 col-md-4 d-flex justify-content-center">
        <div class="cards text-center">
            <i class="bi bi-code-slash"></i>
            <p class="parrafos">{{'SOBREMI.TITLE_1'| translate}}</p>
            <p class="details">{{'SOBREMI.SUBTITLE_1'| translate}}</p>
        </div>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-center">
        <div class="card-item text-center">
            <i class="bi bi-bricks"></i>
            <p class="parrafos">{{'SOBREMI.TITLE_2'| translate}}</p>
            <p class="details">{{'SOBREMI.SUBTITLE_2'| translate}}</p>
        </div>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-center">
        <div class="cards text-center">
            <i class="bi bi-diagram-3-fill"></i>
            <p class="parrafos">{{'SOBREMI.TITLE_3'| translate}}</p>
            <p class="details">{{'SOBREMI.SUBTITLE_3'| translate}}</p>
        </div>
    </div>
</div>

<div class="spec row">

    <div class="col text-center">
        {{"SOBREMI.DESCRIPCION_1" | translate}} <br> <span class="spec-bold">{{"SOBREMI.DESCRIPCION_1.1" | translate}}</span>
    </div>
    <div class="col text-center">{{"SOBREMI.DESCRIPCION_2" | translate}} 
         <br><span class="spec-bold">{{"SOBREMI.DESCRIPCION_2.1" | translate}} </span>
    </div>
    <div class="col text-center">{{"SOBREMI.DESCRIPCION_3" | translate}}
         <br><span class="spec-bold">{{"SOBREMI.DESCRIPCION_3.1" | translate}}</span>
    </div>

</div>

    


