<div class="component row">

    <div class="col-lg-6 col-md-12">
        <img src="assets/imgs/profile.jpg" alt="Alejandro Arias Ingeniero" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-12 align-items-center ">
        <div class=" me-class d-flex align-items-center justify-content-center">
            <span class="about-me-title">🧐 Sobre mí</span>
        </div>
        <h3>José Alejandro Arias</h3>
        <p>
            👨‍💻 Desarrollador de software experimentado, con experiencia en análisis y desarrollo de sistemas de información.  Competente en Java ☕️ y experiencia en el desarrollo de sistemas de información utilizando tecnologías como Spring Boot 🍃.<br><br>

            🔧 Fuertes habilidades en desarrollo de software, integración de aplicaciones y automatización de procesos utilizando varios lenguajes de programación, incluidos Java, TypeScript, CSS y HTML.<br><br>

            ⚙️ Experto en el uso de metodologías ágiles como Scrum 🔄 y Kanban 📋, y experimentado en el uso de metodologías como la integración continua 🔄. Competente en el uso de herramientas de software como Confluence para la documentación. 🗒️ Defensor del software libre. 🌐<br><br>

            🚀 Centrado en mantenerme al día con los últimos avances tecnológicos, soy analítico, creativo, aprendo rápido y tengo una mentalidad de mentor. 👨‍🏫 Me apasiona la tecnología y el desarrollo de aplicaciones y siempre me esfuerzo por ofrecer los mejores resultados.<br>
        </p>
    </div>

</div>