.component{
    margin: 100px 70px 0px 70px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease;
    cursor: pointer;
}
.about-me-title{
    background-color: RGB(123,74,226,0.1);
    color: RGB(123,74,226);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

h3{
    font-size: 60px;
    margin-top: 30px;
    font-weight: 800;
    text-align:center;
}

p{
    font-size: 20px;
    margin-top: 70px;
    font-weight: 200;
    color: rgb(213, 213, 213);
}

.mobile{
    display: none;
    margin: 0;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .component{
        margin: 0px 0px 0px 0px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .about-me-title{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
}